- @page_title = t 'dashboard.home.title'

.row
  .col-md-12
    .box.box-primary
      .box-header
        %h3.box-title= t 'dashboard.welcome'
      .box-body
        .row
          .col-lg-4.col-md-4
            %a.small-box.bg-aqua{href: new_customer_path}
              .inner
                %h3= t 'dashboard.customers.heading'
                %p= t 'dashboard.customers.paragraph'
              .icon
                %i.ion.ion-bag
              .small-box-footer
                %i.fa.fa-arrow-circle-right
                  = t 'dashboard.customers.action'

          .col-lg-4.col-md-4
            %a.small-box.bg-fuchsia{href: customers_path(filter: {has_unresolved_request: 'yes'})}
              .inner
                %h3= t 'dashboard.requests.heading'
                %p= t 'dashboard.requests.paragraph'
              .icon
                %i.ion.ion-bag
              .small-box-footer
                %i.fa.fa-arrow-circle-right
                  = t 'dashboard.requests.action'

          .col-lg-4.col-md-4
            %a.small-box.bg-gray{href: write_emails_customers_path}
              .inner
                %h3= t 'dashboard.emails.heading'
                %p= t 'dashboard.emails.paragraph'
              .icon
                %i.ion.ion-bag
              .small-box-footer
                %i.fa.fa-arrow-circle-right
                  = t 'dashboard.emails.action'