- @page_title = t 'customer_status.index.title'

.box
  .box-header.with-border
    %h3.box-title
    .box-tools
      = icon_link_to 'plus', t('resources.new'), new_customer_status_path, class: 'btn btn-primary btn-sm'

  .box-body
    = search_form CustomerStatus, {name: {}}

    %small.pull-right.text-muted
      = t 'resources.count', count: number_with_delimiter(@customer_statuses.total_count)
      \|
      = t 'resources.pages', count: number_with_delimiter(@customer_statuses.total_pages)
    = paginate @customer_statuses

    %table.table.table-hover
      %thead
        %tr
          %th= t('activerecord.attributes.customer_status.name')
          %th= t('activerecord.attributes.customer_status.color')
          %th

      %tbody.rowlink
        - if @customer_statuses.total_count == 0
          %tr
            %td{colspan: 3}= t 'resources.no_items'
        - @customer_statuses.each do |status|
          - style = status.color ? "background-color: #{status.color}" : ''
          %tr
            %td= status.name
            %td{style: style}

            %td.rowlink-skip.text-right
              = icon_link_to 'edit', t('resources.edit'), edit_customer_status_path(status), class: 'btn btn-default btn-xs'
              = icon_link_to 'times', t('resources.delete'), status, :method => :delete, :data => { :confirm => t('resources.confirm_deletion') }, class: 'btn btn-danger btn-xs'

    %br