- @page_title = t 'customer.show.title', name: @customer.name, surname: @customer.surname

.row
  .col-md-6
    .box.box-primary
      .box-header.with-border
        %h3.box-title= t 'customer.form.general'
        .box-tools
          = icon_link_to 'edit', t('resources.edit'), edit_customer_path(id: @customer.id), class: 'btn btn-primary btn-sm'
          = icon_link_to 'plus', t('resources.new'), new_customer_path, class: 'btn btn-default btn-sm'
          = icon_link_to 'list', t('resources.list'), customers_path, class: 'btn btn-default btn-sm'

      .box-body
        %dl.dl-horizontal.dl-details
          %dt= t 'activerecord.attributes.customer.name'
          %dd= @customer.name

          %dt= t 'activerecord.attributes.customer.surname'
          %dd= @customer.surname

          - unless @customer.company.blank?
            %dt= t 'activerecord.attributes.customer.company'
            %dd= @customer.company

            %dt= t 'activerecord.attributes.customer.ico'
            %dd= @customer.ico

            %dt= t 'activerecord.attributes.customer.dic'
            %dd= @customer.dic

          %dt= t 'activerecord.attributes.customer.recruitment_center_id'
          %dd= @customer.recruitment_center.name

          %dt= t 'activerecord.attributes.customer.country_id'
          %dd= @customer.country.name

          %dt= t 'activerecord.attributes.customer.region_id'
          %dd= @customer.region.name

          %dt= t 'activerecord.attributes.customer.address'
          %dd= @customer.address

          %dt= t 'activerecord.attributes.customer.phone'
          %dd= @customer.phone

          %dt= t 'activerecord.attributes.customer.note'
          %dd= @customer.note

  .col-md-6
    .box
      .box-header.with-border
        %h3.box-title= t 'customer.show.requests_offers'
        .box-tools
          = icon_link_to 'plus', t('resources.new'), new_request_path(id: @customer.id), class: 'btn btn-default btn-sm'

      - @customer.requests.each do |request|
        .box-body
          %dl.dl-horizontal.dl-details
            %dt= t 'activerecord.attributes.request.date'
            %dd
              .row
                .col-sm-9
                  = request.date
                .col-sm-3
                  = icon_link_to 'edit', '', edit_request_path(id: request.id), class: 'btn btn-primary btn-xs'
                  = icon_link_to 'times', '', request, :method => :delete, :data => { :confirm => t('resources.confirm_deletion') }, class: 'btn btn-danger btn-xs'

            %dt= t 'activerecord.attributes.request.request_categories'
            %dd
              - request.categories.each do |c|
                %span.label.label-success=  c.name


          %dl.dl-horizontal.dl-details
            - offer = request.offer

            - if offer.nil?
              %dt= t 'offer.form.create'
              %dd= icon_link_to 'plus', t('resources.new'), new_offer_path(id: request.id), class: 'btn btn-primary btn-xs'
            - else
              %dt= t 'activerecord.attributes.offer.date'
              %dd
                .row
                  .col-sm-9
                    = offer.date
                  .col-sm-3
                    = icon_link_to 'edit', '', edit_offer_path(id: offer.id), class: 'btn btn-primary btn-xs'
                    = icon_link_to 'times', '', offer, :method => :delete, :data => { :confirm => t('resources.confirm_deletion') }, class: 'btn btn-danger btn-xs'

          - unless offer.nil?
            %table.table.table-condensed.table-bordered.table-hover
              %thead
                %th= t 'activerecord.attributes.offer_file.original_filename'
                %th
              %tbody
                - offer.offer_files.each do |file|
                  %tr
                    %td
                      = link_to file.public_name, file.stored_filename.url, target: '_blank'
                    %td.rowlink-skip.text-right
                      = icon_link_to 'times', t('resources.delete'), file, :method => :delete, :data => { :confirm => t('resources.confirm_deletion') }, class: 'btn btn-danger btn-xs'
        %hr