= bootstrap_nested_form_for @request, layout: :horizontal, label_col: 'col-sm-3', control_col: 'col-sm-5' do |f|
  = f.alert_message t 'views.forms.alert_message'

  = f.hidden_field :customer_id
  = f.text_field :date, {data: {provider: :datepicker}}
  = f.collection_select :request_categories, RequestCategory.all, :id, :name, {}, multiple: true

  = f.form_group do
    = f.submit t('resources.save'), class: 'btn btn-primary'