- @page_title = t 'request_category.index.title'

.box
  .box-header.with-border
    %h3.box-title
    .box-tools
      = icon_link_to 'plus', t('resources.new'), new_request_category_path, class: 'btn btn-primary btn-sm'

  .box-body
    = search_form Country, {name: {}}

    %small.pull-right.text-muted
      = t 'resources.count', count: number_with_delimiter(@categories.total_count)
      \|
      = t 'resources.pages', count: number_with_delimiter(@categories.total_pages)
    = paginate @categories

    %table.table.table-hover.table-sortable
      %thead
        %tr
          %th= t('activerecord.attributes.customer.name')
          %th

      %tbody.rowlink
        - if @categories.total_count == 0
          %tr
            %td{colspan: 2}= t 'resources.no_items'
        - @categories.each do |category|
          %tr
            %td= category.name

            %td.rowlink-skip.text-right
              = icon_link_to 'edit', t('resources.edit'), edit_request_category_path(category), class: 'btn btn-default btn-xs'
              = icon_link_to 'times', t('resources.delete'), category, :method => :delete, :data => { :confirm => t('resources.confirm_deletion') }, class: 'btn btn-danger btn-xs'

    %br