- @page_title = t 'country.index.title'

.box
  .box-header.with-border
    %h3.box-title
    .box-tools
      = icon_link_to 'plus', t('resources.new'), new_country_path, class: 'btn btn-primary btn-sm'

  .box-body
    = search_form Country, {name: {}}

    %small.pull-right.text-muted
      = t 'resources.count', count: number_with_delimiter(@countries.total_count)
      \|
      = t 'resources.pages', count: number_with_delimiter(@countries.total_pages)
    = paginate @countries

    %table.table.table-hover
      %thead
        %tr
          %th= t('activerecord.attributes.customer.name')
          %th

      %tbody.rowlink
        - if @countries.total_count == 0
          %tr
            %td{colspan: 2}= t 'resources.no_items'
        - @countries.each do |country|
          %tr
            %td= country.name

            %td.rowlink-skip.text-right
              = icon_link_to 'edit', t('resources.edit'), edit_country_path(country), class: 'btn btn-default btn-xs'
              = icon_link_to 'times', t('resources.delete'), country, :method => :delete, :data => { :confirm => t('resources.confirm_deletion') }, class: 'btn btn-danger btn-xs'

    %br