%li.header.text-uppercase= t('navigation.activities')

= navbar_item t('navigation.dashboard'), root_path, 'dashboard'
= navbar_item t('customer.index.title'), customers_path, 'child'
= navbar_item t('email.index.title'), emails_path, 'envelope'

%li.line

= navbar_item t('customer_status.index.title'), customer_statuses_path, 'sticky-note'
= navbar_item t('recruitment_center.index.title'), recruitment_centers_path, 'bank'
= navbar_item t('country.index.title'), countries_path, 'map'
= navbar_item t('region.index.title'), regions_path, 'object-group'
= navbar_item t('request_category.index.title'), request_categories_path, 'tree'

%li.line

= navbar_item t('user.index.title'), users_path, 'user'
